build
mx.scratch
!.settings
.vscode/
.cache/
.cmake/
.settings/
cmake/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
.ninja*
CMakeListsCache.txt
.mxproject
Program.map
build.ninja
.clangd
CMakePresets.json
compile_commands.json